/* CSS Styles */

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #C7B7B7;
  padding: 0 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5{
  font-weight: bold;
  margin-bottom: 1em;
}

h1{
  font-family: 'Readex Pro', sans-serif;
  font-size: 2em;
  text-decoration: none;
}

h2{
  font-size: 1.5em;
}

p, h2, h3, h4{
  margin-bottom: 1em;
  margin-top: 1em;
}

a{
  color: #4D4444;
}

#wrapper{
  max-width:1200px;
  margin: 0 auto;
  margin-top:2em;
  position: relative;
}

.website-title a{
  text-decoration: none;
  color: black;
}

.toggle-menu{
  display: block;
}

header{
  display:block;
  text-align: center;
}

.topnav{
  display:block;
}

.topnav ul {
  display: block;
}

.topnav li{
  margin:0;
  padding: 1em;
  border: solid 1px #ccc;
  list-style-type: none;
}

nav a{
  color: black;
  text-decoration: none;
}

/* hiding drop down menus */

.program-nav{
  min-height:8em;
  background-color: #B08F8F;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em;

}

.program-nav li{
  text-transform: uppercase;
  padding: 0.7em 0;
  margin: 0.7em 0;
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  background-color: #C7B7B7;
}

.program-nav li li{
  border:none;
  background-color: #DACBCB;
  margin: 1px 0;
  text-transform: none;
  border-radius: 0;
}

/* hiding dropdown menus */
.program-nav li ul{
  display: none;
  list-style-type: none;
  margin-top: 0.7em
}

.program-nav li:hover ul{
  display:block;
}

.banner{
  padding: 3em;
  background-image: url("images/queenscollege.jpeg");
  background-color: white;
  border-radius:10px;
}

.lead{
  font-size:2em;
}

.lead a{
  color:black;
  text-decoration: none;
}
.btn{
  background-color: #B08F8F;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}

header, article, .banner{
  margin: 2em 0;
}

.responsive-img{
  max-width:100%;
}

/* program cards */

.card-link{
  background-color: #C09D9D;
  border: solid 7px #C09D9D;
  display: block;
  text-decoration: none;
  color: black;
  margin: 1em 0;
  border-radius: 17px 17px 17px 17px;

}

.card-link:hover{
  background-color: #D7C8C8;
}

.card{
  border-radius: 10px;
}

.card img{
  width:100%;
  border-radius: 8px 8px 0px 0px;
}

.card-body{
  margin: 0.8em;
}

footer{
  margin-right: 6em;
  margin-bottom: 2em;
}



@media (min-width:570px){
  /* .toggle-menu{
    display: block;
  } */

  header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .topnav-menu{
    display: flex;
    flex-direction:row;
    margin: 0;
  }

  .topnav ul{
    display: flex;
  }

  .topnav li{
    margin-right:2em;
    padding: 0;
    border: none;
  }

  .toggle-menu{
    display: none;
  }

  .program-nav-menu{
    display:flex;
    justify-content: space-between;
  }

  .program-nav li{
    flex: 0 0 auto;
    width:30%;
  }

  .program-nav li ul{
    position: absolute;
    width: 29.2%;
    background-color: #DACBCB;
    border-radius: 2px;
  }

  .program-nav li li{
    margin-left: auto;
    margin-right: auto;
  }

  /* news and event layout*/

  .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2em;
  }

  .programs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
  }


}
/* end of media query*/
