
body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #3E1929;
  padding: 0 1em;
  line-height: 1.2em;
  background-color: #E5CEDC;
}

p{
 margin-right: 50em;

}

img{
  border: solid 9px #BCA3AC;
  border-radius: 9px;
}

a{
  color: #3E1929;
}
